:host {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
}

.toolbar {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #1976d2;
  color: white;
  font-weight: 600;
  padding: 0 1rem;
}

.toolbar .left-side, .toolbar .right-side {
  display: flex;
  align-items: center;
}

.content {
  height: calc(100% - 60px);
  margin: auto;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(33.33%, 1fr));
  grid-template-rows: auto auto;

  //! https://developer.mozilla.org/pt-BR/docs/Web/CSS/grid-template-columns

  row-gap: 0.25rem;
  column-gap: 0.25rem;
  padding: 0.25rem;

  align-items: center;
}

//* Custom
.app-content {
  width: 100vw;
  height: 100vh;
}

.user-video-container {
  position: relative;
  height: 100%;

  flex-grow: 1;
  flex-basis: 0;

  //border: 1px solid yellow;

  &:nth-of-type(1) {
    background-color: red;
  }

  &:nth-of-type(2) {
    background-color: purple;
  }

  &:nth-of-type(3) {
    background-color: magenta;
  }

  &:nth-of-type(4) {
    background-color: orangered;
  }

  &:nth-of-type(5) {
    background-color: orange;
  }

  &:nth-of-type(6) {
    background-color: yellow;
  }
}

.user-video-id {
  position: absolute;
  left: 0;
  top: 0;
  
  width: 100%;
  padding: 5px 10px;
  background-color: black;
  color: whitesmoke;

  text-align: start;

  font-size: 0.75rem;
  font-weight: 700;
}

.user-video-buttons {
  position: absolute;
  left: 0;
  bottom: 0;

  width: 100%;
  height: 15%;
  padding: 5px 10px;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: rgba(0, 0, 0, 0.75);
  color: whitesmoke;

  font-size: 0.75rem;
  font-weight: 700;
}